.HolyGrail {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.HolyGrail-header,
.HolyGrail-footer {
  flex: none;
}
.HolyGrail-body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: var(--space);
}
.HolyGrail-content {
  margin-top: var(--space);
}
.HolyGrail-nav {
  order: -1;
}
.HolyGrail-nav,
.HolyGrail-ads {
  padding: 1em;
  border-radius: 3px;
  background: rgba(147, 128, 108, 0.1);
}
@media (--break-lg) {
  .HolyGrail-body {
    flex-direction: row;
  }
  .HolyGrail-content {
    flex: 1;
    padding: 0 var(--space-lg);
    margin: 0;
  }
  .HolyGrail-nav,
  .HolyGrail-ads {
    flex: 0 0 12em;
  }
}
